<h1 class="text-center"><%= I18n.t('confirm_email.thank_you') %>!</h1>

<p class="text-center">
  <%= I18n.t('confirm_email.your_email') %> <b><%= @user.email %></b>
  <%= I18n.t('confirm_email.is_successfully_confirmed') %>.
</p>
