<table>
  <tbody>
    <tr>
      <td>
        <%= I18n.t('reset_password.follow').capitalize %>
        <%= link_to I18n.t('reset_password.link_anchor'), @link %>
        <%= I18n.t 'reset_password.to_anchor_email' %>
      </td>
    </tr>
  </tbody>
</table>
